<!DOCTYPE html>
<html>
<!-- 此时登录页面 从register.ejs复制过来  改完后要记得在appjs处注册 -->
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    <%- include("./header.ejs",{title:"登录页面",isShow:false})%><!-- //做的公用头 引用的公用头 错点：不要忘记加逗号ejs",{-   isShow:false这个注册页面要不要显示-->

    <div class="container"><!-- container这个标签让表单左右有空间 -->
    <!-- 以下是从bootstrap网 全局css下的表单代码 ctrl+shift+v键使得复制的格式化 -->
    	<form method="post" action="/login"><!-- 数据以post的方式 -->
    	  <!-- <div class="form-group">
    	    <label for="exampleInputEmail1">昵称</label>
    	    <input type="text" class="form-control" name="username" placeholder="昵称">
    	  </div>    登录用邮箱进行登录-->

          <div class="form-group">
            <label for="exampleInputPassword1">手机号</label>
            <input type="text" class="form-control" name="tel" placeholder="tel">
          </div>

         
    	  <div class="form-group">
    	    <label for="exampleInputEmail1">邮箱</label>
    	    <input type="email" class="form-control" name="email" placeholder="email">
    	  </div>
    	  <div class="form-group">
    	    <label for="exampleInputPassword1">Possword</label>
    	    <input type="password" class="form-control" name="password" placeholder="password">
    	  </div>
    	  <!-- <div class="form-group">
    	    <label for="exampleInputFile">File input</label>
    	    <input type="file" id="exampleInputFile">
    	    <p class="help-block">Example block-level help text here.</p>
    	  </div>
    	  <div class="checkbox">
    	    <label>
    	      <input type="checkbox"> Check me out
    	    </label>
    	  </div> -->
    	  <button type="submit" class="btn btn-default">登录</button>

            
             <% if(isShow){%>
          <div class="form-group">
            <label for="exampleInputEmail1">信息不匹配</label>
          </div>
          <%}%>
    	</form>
    </div>
  </body>
</html>
